*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-bottom: 30px;
}
nav{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    -webkit-box-shadow: 1px 8px 5px -2px rgba(34, 60, 80, 0.48);
    -moz-box-shadow: 1px 8px 5px -2px rgba(34, 60, 80, 0.48);
    box-shadow: 1px 8px 5px -2px rgba(34, 60, 80, 0.48);
}
.nav2{
    display: flex;
    padding: 20px 0;
    width: 100vw;
    background-color: rgba(152, 150, 150, 0.09);
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    
}
.aside{
    display: flex;
}
img{
    width: 300px;
    height: 400px;
}
.left_side{
    text-align: center;
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}
.logo{
    width: 220px;
    cursor: pointer;
}
i{
    font-size: 30px;
    color: gray;
}
.p{
    color: gray;
    font-family: poppins,sans-serif;
}
.logo_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
/* left side end */

/* right side */
.right_side{
    margin-left: 50px;
}
h4{
    color: red;
    font-size: 25px;
}
.h1{
    font-size: 35px;
    font-family: poppins,sans-serif;
    line-height: 45px;
    font-weight: bold;
}
.h3{
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif;
}

/* color section */
.color_section{
    margin-top: 30px;
}
.card_container{
    display: flex;
    padding: 30px 0;
}
.card{
    display: flex;
    width: 200px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: .5s;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.1);
}
.white{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: cornsilk;
}
.black{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
}
.red{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
}
.text2{
    width: 400px;
}
.text2 p{
    color: gray;
    font-family: poppins,sans-serif;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}
.card_container1{
    display: flex;
    margin-top: 10px;
}
.card1{
    border: 1px solid gray;
    border-radius: 1=7px;
    width: 200px;
    height: 130px;
    padding: 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: .5s;
}
.card1:hover{
    transform: scale(1.1);
}
.gray{
    color: gray;
}
span{
    font-size: 40px;
}




